#canvas {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#resize {
    color: lightgreen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    background-color: brown;
    border: 0;
    margin-bottom: 5%;
    height: 5%;
    width: 20%;
    transition: 0.2s ease-in-out;
}

#resize:hover {
    background-color: rgb(203, 69, 69);
}

.grid {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: 70vh;
    height: 70vh;
}

.square { 
    flex: 1 1 0;
    background-color: antiquewhite;
    height: 100%;

    transition: 0.025s ease-in-out;
}

.square.hover {
    background-color: navy;
}

.rowOfSquares {
    display: flex;
    flex: 1 1 0;
}