#canvas {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.grid {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: 70vh;
    height: 70vh;
}

.square { 
    flex: 1 1 0;
    background-color: antiquewhite;
    height: 100%;

    transition: 0.2s ease-in-out;
}

.square.hover {
    background-color: navy;
}

.rowOfSquares {
    display: flex;
    flex: 1 1 0;
}